<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brq.listDelivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MeuPrimeiroApp">
        <activity android:name="br.com.brq.listDelivery.ui.CriarTarefaActivity"></activity>
        <activity android:name="br.com.brq.listDelivery.PrincipalActivity" />
        <activity android:name="br.com.brq.listDelivery.ui.CriarContaActivity"></activity>
        <activity android:name="br.com.brq.listDelivery.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>